:root {
  --background-color: #ffffff;
  --foreground: #171717;
  --text-color: #000000;
  color-scheme: light;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

.canvas {
  cursor: none; 
}

button {
  padding: 8px 12px;
  border: 1px solid #888;
  border-radius: 5px;
  position: absolute;
  margin: 5;
  z-index: 10;
  background-color: white;
}

button:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
} 

.tooltip{
  position: absolute;
  pointer-events: none;
  background: white;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  opacity: 0;
}